<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>

<div *ngIf="createNewErrors">
    <p *ngIf="createNewErrors.errors.title" style="color:red">{{createNewErrors.errors.title.message}}</p>
    <p *ngIf="createNewErrors.errors.description" style="color:red">{{createNewErrors.errors.description.message}}</p>
</div>

<form>
  <label> Title:  
    <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
  </label>
  <label> Description: 
    <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
  </label>
  <br>
  <input type="submit" value="Create Task" (click)="onSubmitNew()"/>
</form>

<hr>

<div *ngIf="showID">
  <h3>Showing details</h3>
  <h4>Title: {{oneTask.title}}</h4>
  <p>Details: {{oneTask.description}}</p>
  <p>Completed? {{oneTask.completed}}</p>
  <button (click)="onShowEditForm()">EDIT</button>
  <br>
  <br>
  <form *ngIf="showEdit">
    <label> Title:  
      <input type="text" name="oneTask.title" [(ngModel)]="oneTask.title" />
    </label>
    <label> Description: 
      <input type="text" name="oneTask.description" [(ngModel)]="oneTask.description" />
    </label>
    <input type="submit" value="Send Edit" (click)="onSubmitEdit()"/>
  </form>
  <br>
  <button (click)="onButtonDelete(oneTask._id)">DELETE</button>
</div>

<hr>
<button (click)="onButtonClickAll()">Get All Tasks</button>

<div *ngIf="tasks[0]">
  <h2>All the tasks: </h2>
  <ul>
    <li *ngFor="let task of tasks">
      <h4>Title: {{task.title}}</h4>
      <button (click)="onButtonClickID(task._id)">Show</button>

    </li>
  </ul>
</div>


<router-outlet></router-outlet>
